page-plan-description {
    .header-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 8%;
        background: rgba(255, 36, 47, 0.877);
        align-items: center;
        justify-content: center;
        .head-text {
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 100%;
            color: rgb(49, 49, 49);
            font-weight: 1000;
            font-size: 25px;
            padding-left: 16px;
            .text {
                margin-top: 10px;
            }
        }
        
        .close-container {
            display: flex;
            flex-direction: column;
            width: 10%;
            height: 100%;
            align-items: center;
            justify-content: center;
            .close-button {
                font-size: 25px;
                font-weight: 600;
                align-items: center;
                justify-content: center;
                margin-top: 5px;
                .close-but {
                    font-weight: 1000;
                }
            }
        }
    }
    .body-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 86%;
        background: darkcyan;
        align-items: center;
        justify-content: center;
        .inner-container {
           // display: flex;
            width: 90%;
            height: 90%;
            .day-text {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 5%;
                align-items: center;
                .text {
                    font-size: 20px;
                    font-weight: 1000;
                    color: #fff;
                }
            }
            .descript-container {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 75%;
                align-items: center;
                justify-content: center;
                .canvas {
                    width: 100%;
                    height: 90%;
                    background: rgb(231, 235, 175);
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    .text {
                        width: 85%;
                        height: 85%;
                        font-size: 18px;
                        margin: auto;
                        margin-top: 15px;
                        color: rgb(51, 51, 51);
                        overflow: auto;
                        overflow: hidden;
                    }
                }
            }
            .button-container {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 20%;
                .back-container {
                    display: flex;
                    flex-direction: column;
                    width: 20%;
                    height: 100%;
                    justify-content: center;
                    .button-back {
                        border-radius: 25px;
                        width: 50px;
                        height: 50px;
                        font-size: 28px;
                        padding-left: 0px;
                        padding-right: 0px;
                        background: rgb(10, 117, 63);
                        .arrow-back {
                            font-weight: 1000;
                        }
                    }
                    .button-back:hover,:active {
                        font-size: 34px;
                    }
                }
                .img-container {
                    display:flex;
                    flex-direction: column;
                    margin: auto;
                    width: 70%;
                    height: 100%;
                    align-items: center;
                    .img {
                        width: 58%;
                        height: 80px;
                        margin: 0px;
                    }
                }
                .forward-container {
                    display: flex;
                    flex-direction: column;
                    width: 20%;
                    height: 100%;
                    justify-content: center;
                    .button-forward {
                        border-radius: 25px;
                        width: 50px;
                        height: 50px;
                        font-size: 28px;
                        padding-left: 0px;
                        padding-right: 0px;
                        background: rgb(10, 117, 63);
                        .arrow-forward {
                            font-weight: 1000;
                        }
                    }
                    .button-forward:hover,:active {
                        font-size: 34px;
                    }
                    .button-finish {
                        border-radius: 25px;
                        width: 50px;
                        height: 50px;
                        font-size: 28px;
                        padding-left: 0px;
                        padding-right: 0px;
                        //background: rgb(238, 0, 119);
                        background-image: linear-gradient(rgb(251, 255, 0), orange);
                        .arrow-forward {
                            color: rgb(224, 0, 67);
                            
                            font-weight: 500;
                    }
                    .button-finish:hover,:active {
                        font-size: 34px;
                    }
                    }
                }               
            }
        }
        
    }
    .footer-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 6%;
        background: rgba(255, 36, 47, 0.877);
    }
}
