<!-- <ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="bg">
  <div class="body-container">
    <div class="inbody-container">
      <div class="row-one">
        <div class="text-howto">HOW TO</div>
        <div class="text-stop">STOP</div>
        <div class="img">
          <img src="https://cdn.icon-icons.com/icons2/516/PNG/512/stop_smoking_icon-icons.com_51088.png">
        </div>
      </div>
      <div class="day-container">
        <div class="text-day">
          Day
        </div>
        <div class="all-day">
          <div class="row-day">
            <div col-1 class="a-day" *ngFor="let item of items">
              <div *ngIf="item.data.no <= 5">
                  <div class="text">{{ item.data.no }}</div>
              </div>
              <div *ngIf="item.data.no > 5">
                  <div class="text">{{ item.data.no }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="foot-container">
  </div>
</ion-content>