page-plan {
    .bg {
        padding-left: 0px;
        padding: 0px;

    }
    display:flex;
    .body-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80%;
        background: gray;
        .inbody-container {
            display:flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background: gray;
            .row-one {
                display:flex;
                flex-direction: row;
                width: 90%;
                height: 15%;
                color: #fff;
                margin: auto;
               .text-howto {
                    display:flex;
                    flex-direction: column;
                    font-weight: 900;
                    font-size: 2em;
                    width: 40%;
                }
                .text-stop {
                    display:flex;
                    flex-direction: column;
                    width: auto;
                    color: rgb(221, 0, 0);
                    font-weight: 900;
                    font-size: 2.7em;
                }
                .img {
                    display:flex;
                    flex-direction: column;
                    width: 30%;
                    img {
                        width: 5em;
                        height: 5em;
                        margin: auto;
                    }
                }
            }
            .day-container {
                display:flex;
                flex-direction: row;
                width: 90%;
                height: 75%;
                margin: auto;
                .text-day {
                    display: flex;
                    flex-direction: column;
                    color: #fff;
                    width: 13%;
                    font-size: 1.4em;
                }
                .all-day {
                    display: flex;
                    flex-direction: column;
                    .row-day {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        margin-bottom: 4px;
                        .a-day {
                            background: rgb(66, 66, 66);
                            width: 3em;
                            height: 3em;
                            color: #fff;
                            padding: 0.5em;
                            text-align: center;
                            border-radius: 0.75em;
                            margin-left: 4px;
                            .text{
                                margin: auto;
                                font-size: 1.5em;
                                font-weight: 600;
                                // padding-top: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
    .foot-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 20%;
        background-color: rgb(1, 165, 165);
    }
    
}
