page-plan {
    .bg {
        padding-left: 0px;
        padding: 0px;

    }
    display:flex;
    .body-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80%;
        background: gray;
        .inbody-container {
            display:flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background: gray;
            .row-one {
                display:flex;
                flex-direction: row;
                width: 90%;
                height: 15%;
                color: #fff;
                margin: auto;
                .row-one-container {
                    display: flex;
                    margin: auto;
                    justify-content: center;
                    .text-howto {
                        display:flex;
                        flex-direction: column;
                        font-weight: 900;
                        font-size: 2em;
                    }
                    .text-stop {
                        display:flex;
                        flex-direction: column;
                        width: auto;
                        color: rgb(221, 0, 0);
                        font-weight: 900;
                        font-size: 2.7em;
                    }
                    .img {
                        display:flex;
                        flex-direction: column;
                        //width: 30%;
                        img {
                            width: 5em;
                            height: 5em;
                            margin: auto;
                            margin: 0px;
                        }
                        
                    }
                    
                    
                }
                .close-container {
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    
                    .close-button {
                        font-size: 25px;
                        font-weight: 600;
                        margin-top: 5px;
                        align-items: right;
                        justify-content: right;
                        .close-but {
                            float: right;
                            font-weight: 1000;
                        }
                    }
                }
            }
            .day-container {
                display:flex;
                flex-direction: row;
                width: 90%;
                height: 60%;
                margin: auto;
                .text-day {
                    display: flex;
                    flex-direction: column;
                    color: #fff;
                    width: 13%;
                    font-size: 1.4em;
                    font-weight: 1000;
                }
                .all-day {
                    display: flex;
                    flex-direction: column;
                    width: 70vw;
                    .row-day {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        height: 7vh;
                        margin-bottom: 4px;
                        .a-day {
                            background: rgb(66, 66, 66);
                            width: 20%;
                            height: auto;
                            color: #fff;
                            padding: 0.5em;
                            text-align: center;
                            border-radius: 0.9em;
                            margin-left: 4px;
                            .text{
                                margin: auto;
                                font-size: 1.6em;
                                font-weight: 600;
                                // padding-top: 4px;
                            }
                            
                        }
                        .a-day:hover{
                            .text{
                                font-size: 1.7em;
                            }
                            
                         }
                         .a-day:active{
                            .text{
                                font-size: 1.7em;
                            }
                          }
                    }
                }
                
            }
            .success-container {
                display:flex;
                flex-direction: row;
                width: 95%;
                height: 10%;
                margin: auto;
                align-items: center;
                justify-content: center;
                margin-top: 0px;
                .text-success {
                    width: 100%;
                    text-align: center;
                    color: #fff;
                    font-weight: 1000;
                    button {
                        font-size: 1.6em;
                        background: #04245d;
                        border-radius: 25px;
                    }
                }
            }
        }
    }
    .foot-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 20%;
        background-color: rgb(1, 165, 165);
        justify-content: center;
        align-items: center;
        .inner-container {
            display: flex;
            width: 90%;
            height: 80%;
            .back-container {
                display: flex;
                flex-direction: column;
                width: 15%;
                height: 100%;
                justify-content: center;
                .button-back {
                    border-radius: 25px;
                    width: 50px;
                    height: 50px;
                    font-size: 28px;
                    padding-left: 0px;
                    padding-right: 0px;
                    background: rgb(10, 117, 63);
                    .arrow-back {
                        font-weight: 1000;
                    }
                }
                .button-back:hover,:active {
                    font-size: 34px;
                }
            }
            .img-container {
                display:flex;
                flex-direction: column;
                margin: auto;
                width: 70%;
                height: 100%;
                align-items: center;
                .img {
                    width: 45%;
                    height: 80px;
                    margin: 0px;
                }
                .img:hover {
                    width: 50%;
                    height: 82px;
                }
                .img:active {
                    
                    width: 40%;
                        height: 77px;
                }
            }
            .forward-container {
                display: flex;
                flex-direction: column;
                width: 15%;
                height: 100%;
                justify-content: center;
                .button-forward {
                    border-radius: 25px;
                    width: 50px;
                    height: 50px;
                    font-size: 28px;
                    padding-left: 0px;
                    padding-right: 0px;
                    background: rgb(10, 117, 63);
                    .arrow-forward {
                        font-weight: 1000;
                    }
                }
                .button-forward:hover,:active {
                    font-size: 34px;
                }
            }
        }
        
    }
    
}