<ion-header>
  <ion-navbar>
    <ion-title>
      แบบสอบถาม
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <ion-list>
        <ion-item *ngFor="let movie of items">
          
        </ion-item>
    </ion-list> -->
    <div *ngFor="let question of items" >
      
      <ion-list class="list-item" radio-group [(ngModel)]="question.model">
        <ion-list-header class="list-head">
            {{question.data.no}}. {{ question.data.name }}
        </ion-list-header>
      
        <div>
          <ion-item (click)="onClick()">
            <ion-label>{{ question.data.choice_one }}</ion-label>
            <!-- <ion-radio checked="true" [(ngModel)]="choice" value="1"></ion-radio> -->
            <ion-radio name="one" value="1"></ion-radio>
          </ion-item>
        </div>
      
        <div>
          <ion-item>
            <ion-label class="text">{{ question.data.choice_two }}</ion-label>
            <!-- <ion-radio [(ngModel)]="choice" value="2"></ion-radio> -->
            <ion-radio name="two" value="2"></ion-radio>
          </ion-item>
        </div>

        <div *ngIf="question.data.choice_three">
          <ion-item>
            <ion-label class="text">{{ question.data.choice_three }}</ion-label>
            <!-- <ion-radio [(ngModel)]="choice" value="3"></ion-radio> -->
            <ion-radio name="three" value="3"></ion-radio>
          </ion-item>
        </div>
        
        <div *ngIf="question.data.choice_four">
          <ion-item>
            <ion-label class="text">{{ question.data.choice_four }}</ion-label>
            <!-- <ion-radio [(ngModel)]="choice" value="4"></ion-radio> -->
            <ion-radio name="four" value="4"></ion-radio>
          </ion-item>
        </div>
      </ion-list>
      </div>

    
      <button class="butt" ion-button full round (click)="posting_data()">ส่งข้อมูล</button>
      <button ion-button full (click)="onClick()">Test</button>
</ion-content>
